{% extends "SosnowiecKinoBundle::base.html.twig"%}

{% block pageTitle %}
    Strona główna | {{parent()}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{asset('bundles/sosnowieckino/js/parsley/parsley.css')}}" rel="stylesheet">

    <style>
        .container
        {
            background-color: white;
            border-radius: 25px;
            padding:10px;           
        }
        
    </style>
{%endblock%}    


{% block pageContent %}
    <div class="container">   
        
        <table border="1">
            <tr>
                {# styl tylko na chwile #}
                {#<td><img src="{{ movie.image}}" style="max-width: 100px"></td>#}
                <td>{{ movie.rozpoczecie|date('d-m-Y H:i:s') }}</td>
                <td>{{ movie.filmyFilmu.tytul }}</td>
            </tr>
        </table>
        
    </div>

{%endblock%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/sosnowieckino/js/parsley/parsley.min.js')}}"></script>
    <script src="{{asset('bundles/sosnowieckino/js/parsley/parsley-standalone.min.js')}}"></script>
    <script src="{{asset('bundles/sosnowieckino/js/parsley/parsley.extend.min.js')}}"></script>

{%endblock%} {# empty Twig template #}
